.tweet .react-tweet-theme {
  --tweet-container-margin: 0;
  --tweet-font-family: var(--font-sf-pro), -apple-system, BlinkMacSystemFont, system-ui, -system-ui, sans-serif;
  --tweet-font-color: var(--foreground);
  
  --tweet-bg-color-hover: var(--background);
  --tweet-color-blue-secondary: var(--secondary);
  --tweet-color-blue-secondary-hover: var(--code-bg);
  --tweet-font-color-secondary: var(--secondary);
  
  --tweet-bg-color: var(--background);
  --tweet-quoted-bg-color-hover: var(--code-bg);
  --tweet-border: 1px solid rgba(148, 163, 184, 0.35);
  --tweet-skeleton-gradient: linear-gradient(
    270deg,
    var(--code-bg),
    var(--background),
    var(--background),
    var(--code-bg)
  );
  --tweet-color-red-primary: rgb(249, 24, 128);
  --tweet-color-red-primary-hover: rgba(249, 24, 128, 0.1);
  --tweet-color-green-primary: rgb(0, 186, 124);
  --tweet-color-green-primary-hover: rgba(0, 186, 124, 0.1);
  --tweet-twitter-icon-color: var(--foreground);
  --tweet-verified-old-color: var(--secondary);
  --tweet-verified-blue-color: var(--link-blue);
  letter-spacing: 0.07em;
  font-size: 0.85rem !important;
}

.tweet .react-tweet-theme p {
  font-size: 0.85rem !important;
  line-height: 1.4;
  letter-spacing: 0.07em;
}

.tweet-header-module__A9EVQG__author{
  font-size: 0.8rem !important;
}

.tweet .react-tweet-theme p a {
  color: var(--link-blue);
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: border-color 0.2s ease;
}

.tweet .react-tweet-theme p a:hover {
  border-bottom-color: var(--link-blue);
  text-decoration: none;
}

.tweet-actions-module__TCXXfW__replyText, .tweet-actions-module__TCXXfW__likeCount{
  font-size: 0.8rem !important;
}

.tweet .react-tweet-theme a[href*="intent/follow"] {
  display: none !important;
}

.tweet .tweet-header_separator__d4pqe {
  display: none !important;
}

.tweet time {
  font-size: 0.8rem !important;
}

.tweet .tweet-actions_actions__UDw7H {
  font-size: 0.7rem !important;
  display: none !important;
}


.yt-video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  border-radius: 0.5rem;
  background-color: #000;
}

.yt-video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 0.5rem;
}

.tweet-replies-module__ktL-Xa__replies, .tweet-info-module___F14PW__infoLink, .tweet-actions-module__TCXXfW__copy{
  display: none !important;
}

.tweet-info-module___F14PW__info{
  margin-top: 12px !important;
}


