@import "tailwindcss";

:root {
  --background: 248 248 248;
  --foreground: 60 60 60;
  --secondary: 220 220 220;
  --link-hover: #1e4fff;
  --letter-spacing: 0.04em;
  --left-font: 700;
  --right-font: 500;
  --font-size: 0.85rem;
  --heading-color: #555555;
}

.dark {
  --background: 6 6 6;
  --foreground: 220 220 220;
  --secondary: 40 40 40;
  --link-hover: #00a2ff;
  --heading-color: #777;
}

html {
  color-scheme: light;
}

body {
  letter-spacing: var(--letter-spacing);
  font-size: var(--font-size);
  color: rgb(var(--foreground));
}

.dark html {
  color-scheme: dark;
}

h2 {
  color: var(--heading-color);
  letter-spacing: var(--letter-spacing);
  font-weight: var(--left-font);
}

.font-medium {
  font-weight: var(--right-font) !important;
}

@media (hover: hover) and (pointer: fine) {
  a:hover {
    color: var(--link-hover);
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
