:root {
  --app-height: 100%;
}

/* Loading Animation */

.control {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  flex-direction: column;
}

.loadStart {
  color: #000000;
  margin-top: -200px;
  font-size: 100px;
  padding-bottom: 50px;
}

.loadingdot {
  opacity: 0;
  -webkit-animation: loadingFade 1.5s infinite;
  -moz-animation: loadingFade 1.5s infinite;
  animation: loadingFade 1.5s infinite;
}

.loadingdot:nth-child(1) {
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  animation-delay: 0s;
}

.loadingdot:nth-child(2) {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.loadingdot:nth-child(3) {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes loadingFade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes loadingFade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

@keyframes loadingFade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

canvas {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

main {
  position: fixed;
  height: 100vh;
  height: var(--app-height);
  width: 100vw;
}

iframe {
  position: absolute;
  overflow-y: auto;
}

.laptop iframe {
  width: 1024px;
  height: 670px;
  border: none;
  position: absolute;
  border-radius: 20px;
}

.mobile iframe {
  width: 323px;
  height: 680px;
  border: none;
  position: absolute;
  border-radius: 50px;
}

.buttons-container {
  z-index: 99;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 87%;
  border-radius: 10px;
  width: 320px;
  align-items: center;
}

/* font-family: 'Montserrat', sans-serif;
font-family: 'Space Mono', monospace; */

.buttons {
  text-align: center;
  align-items: center;
  padding: 5px;
}

.buttons-con {
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: center;
  text-align: center;
}

button {
  background-color: #ffffff;
  border: 0 solid #e2e8f0;
  border-radius: 1.2rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-family: "Space Mono", monospace;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1;
  padding: 1rem 1rem;
  width: 60px;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
}

@media (hover: hover) and (pointer: fine) {
  button:hover {
    background-color: #1e293b;
    color: #fff;
  }
  button:hover img {
    filter: invert(1) sepia(0) saturate(1) hue-rotate(0deg) brightness(1);
  }
}

.name {
  position: absolute;
  font-family: "Space Mono", monospace;
  left: 50%;
  transform: translate(-50%);
  top: 30px;
}

.name .title {
  font-size: 25px;
  text-align: center;
  font-weight: 500;
  color: #000000;
}

.name .subTitle {
  font-size: 16px;
  text-align: center;
  font-weight: 100;
  color: #545454;
}

.at::before {
  content: "@";
  animation: at infinite 3s;
}

.exclamation::before {
  content: "!";
  animation: exclamation infinite 3s;
}

.dollar::before {
  content: "$";
  animation: dollar infinite 3s;
}

.hash::before {
  content: "#";
  animation: hash infinite 3s;
}

/* Animations */
@keyframes at {
  0% {
    content: "@";
  }

  33% {
    content: "A";
  }

  66% {
    content: "a";
  }
}

@keyframes exclamation {
  0% {
    content: "!";
  }

  33% {
    content: "I";
  }

  66% {
    content: "i";
  }
}

@keyframes dollar {
  0% {
    content: "$";
  }

  33% {
    content: "S";
  }

  66% {
    content: "s";
  }
}

@keyframes hash {
  0% {
    content: "#";
  }

  33% {
    content: "H";
  }

  66% {
    content: "h";
  }
}

button img {
  height: 25px;
  opacity: 0.7;
}
